services:
  waha:
    image: devlikeapro/waha:latest
    ports:
      - "3000:3000"
    environment:
      WAHA_API_KEY: 1SpkA0oE44ZYVgcvfyR7QzY8wAVPKv8PcQUAfa4wQpJmcXw2Eb
      WAHA_DASHBOARD_USERNAME: nGtM8XUEB4
      WAHA_DASHBOARD_PASSWORD: wE1785DvJW3hzCxOxlDQN7P2wwouqwVOBumXQYMzoexzeRYLki
      WHATSAPP_SWAGGER_USERNAME: nGtM8XUEB4
      WHATSAPP_SWAGGER_PASSWORD: wE1785DvJW3hzCxOxlDQN7P2wwouqwVOBumXQYMzoexzeRYLki
    volumes:
      - ./waha_data:/var/lib/waha
    restart: always
