# pwd : 8CxJJE3sV534iTzdcHlvdKXDRZpobPsKVhRQdHbNCapSU6pTi3

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: host.docker.internal
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_USER: postgres
      DB_POSTGRESDB_PASSWORD: postgres
      DB_POSTGRESDB_SCHEMA: public
      DB_POSTGRESDB_DATABASE: n8n
      N8N_SECURE_COOKIE: false
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: